 <!-- Navbar STart -->
    <div class="container-fluid ">
        <!-- Logo container-->
        <a class="logo" href="/">
            <img src="../assets/images/logo-dark.png" height="24" class="logo-light-mode" alt="">
            <img src="../assets/images/logo-light.png" height="24" class="logo-dark-mode" alt="">
        </a>                
        <!-- Logo End -->

        <!-- Start Mobile Toggle -->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>
        <!-- End Mobile Toggle -->

        <!-- Start Dropdown -->
        <ul class="dropdowns list-inline mb-0">
            {{!-- <li class="list-inline-item mb-0">
                <a href="javascript:void(0)" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <div class="btn btn-icon btn-pills btn-primary"><i data-feather="settings" class="fea icon-sm"></i></div>
                </a>
            </li>

            <li class="list-inline-item mb-0 ms-1">
                <a href="javascript:void(0)" class="btn btn-icon btn-pills btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
                    <i class="uil uil-search"></i>
                </a>
            </li> --}}
            <li class="list-inline-item mb-0 ms-1">
                <div class="dropdown dropdown-primary">
                    <button type="button" class="btn btn-pills btn-soft-primary dropdown-toggle p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{data.profilePicture}}" class="avatar avatar-ex-small rounded-circle" alt=""></button>
                    <div class="dropdown-menu dd-menu dropdown-menu-end bg-white shadow border-0 mt-3 py-3" style="min-width: 200px;">
                        <a class="dropdown-item d-flex align-items-center text-dark" href="/api/profile">
                            <img src="{{data.profilePicture}}" class="avatar avatar-md-sm rounded-circle border shadow" alt="">
                            <div class="flex-1 ms-2">
                                <span class="d-block mb-1">{{data.firstName}} {{data.lastName}}</span>
                                <small class="text-muted">{{data.departmen}}</small>
                            </div>
                        </a>
                        <a class="dropdown-item text-dark" href="/dashboard"><span class="mb-0 d-inline-block me-1"><i class="uil uil-dashboard align-middle h6"></i></span> Dashboard</a>
                        <a class="dropdown-item text-dark" href="/doctorProfileSetting"><span class="mb-0 d-inline-block me-1"><i class="uil uil-setting align-middle h6"></i></span> Profile Settings</a>
                        <div class="dropdown-divider border-top"></div>
                        <a class="dropdown-item text-dark" href="/logout"><span class="mb-0 d-inline-block me-1"><i class="uil uil-sign-out-alt align-middle h6"></i></span> Logout</a>
                    </div>
                </div>
            </li>
        </ul>
        <!-- Start Dropdown -->

        {{!-- <div id="navigation">
            <!-- Navigation Menu-->   
            <ul class="navigation-menu nav-left nav-light">
                <li class="has-submenu parent-menu-item">
                        <li><a href="/" class="sub-menu-item">Home</a></li>
                </li>

                <li class="has-submenu parent-parent-menu-item">
                    
                <a href="/aboutus" class="sub-menu-item"> AboutUs</a>
                            
                </li>
                <li class="has-submenu parent-menu-item"> 
                        <a href="/contact" class="sub-menu-item">Contact</a>
                </li>
                <li class="has-submenu parent-menu-item">
                
                    <li><a href="/depertments" class="sub-menu-item">Departments</a></li>
                
                </li>
                <li class="has-submenu parent-menu-item">
                        <a href="/appointmentBook" class="sub-menu-item">AppointmentBook</a>
                </li>

            </ul><!--end navigation menu-->
        </div><!--end navigation--> --}}
    </div><!--end container-->