<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>
    <!-- Loader -->
    {{!-- <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div> --}}
    <!-- Loader -->
    
    <!-- Navbar STart -->
    <header id="topnav" class="defaultscroll sticky">
        {{>navbarIndex}}
    </header>
    <!--end header-->
    <!-- Navbar End -->

    <!-- Start Hero -->
    <section class="bg-half-170 d-table w-100 bg-light">
        <div class="container">
            <div class="row mt-5 justify-content-center">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h3 class="sub-title mb-4">Book an appointment</h3>
                        <p class="para-desc mx-auto text-muted">Great doctor if you need your family member to get
                            effective immediate assistance, emergency treatment or a simple consultation.</p>
                        
                        <nav aria-label="breadcrumb" class="d-inline-block mt-3">
                            <ul class="breadcrumb bg-transparent mb-0 py-1">
                                <li class="breadcrumb-item"><a href="/">Doctris</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Appointment</li>
                            </ul>
                        </nav>
                        </div>
                </div>
                <!--end col-->
                </div>
                <!--end row-->
                </div>
                <!--end container-->
                </section>
                <!--end section-->
                <div class="position-relative">
                    <div class="shape overflow-hidden text-white">
                        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                        </svg>
                    </div>
                </div>
                <!-- End Hero -->
                
                <!-- Start -->
                <section class="section" id="entry-template">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="card border-0 shadow rounded overflow-hidden">
                        <ul class="nav nav-pills nav-justified flex-column flex-sm-row rounded-0 shadow overflow-hidden bg-light mb-0"
                            id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link rounded-0 active" id="clinic-booking" data-bs-toggle="pill" href="#pills-clinic" role="tab"
                                    aria-controls="pills-clinic" aria-selected="false">
                                    <div class="text-center pt-1 pb-1">
                                        <h4 class="title fw-normal mb-0">Clinic Appointment</h4>
                                    </div>
                                </a>
                                <!--end nav link-->
                                </li>
                                <!--end nav item-->
                                
                                <li class="nav-item">
                                <a class="nav-link rounded-0" id="online-booking" data-bs-toggle="pill" href="#pills-online" role="tab"
                                    aria-controls="pills-online" aria-selected="false">
                                    <div class="text-center pt-1 pb-1">
                                        <h4 class="title fw-normal mb-0">Online Appointment</h4>
                                    </div>
                                </a>
                                <!--end nav link-->
                                </li>
                                <!--end nav item-->
                                </ul>
                                
                                <div class="tab-content p-4" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-clinic" role="tabpanel" aria-labelledby="clinic-booking">
                                        {{#if error_data}}
                                        <div class="has_error">{{error_data}}</div>
                                        {{/if}}
                                        <form action="/api/clinic-appointment" method="post" id="appoimentDataOnline">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="mb-3">
                                                        <label class="form-label">Patient Name <span class="text-danger">*</span></label>
                                                        <input name="patientName" id="name" type="text" {{#if error_firstName}} value="{{firstName}}" {{/if}}
                                                        class="form-control" placeholder="Patient Name"  required="">
                                                     {{#if error_firstName}}
                                                   <div class="has_error">{{error_firstName}}</div>
                                               {{/if}}
                                                </div>
                                        </div>
                                        <!--end col-->
                                        
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">Departments<span class="text-danger">*</label>
                                                <select name="departmentId" class="form-control doctor-name select2input" onchange="getDoctorData(this.value)" required="">
                                                    <option value="">Select</option>
                                                    {{#each departments}}
                                                    <option value="{{this._id}}#{{this.departmentName}}">
                                                        {{this.departmentName}}</option>
                                                    {{/each}}
                                                </select>
                                                </div>
                                        </div>
                                        <!--end col-->
                                        
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">Doctor <span class="text-danger">*</label>
                                                <select name="doctorId" class="form-control doctor-name select2input doctorId"  required="">
                                                    <option value="">Select</option>
                                                </select>
                                                </div>
                                        </div>
                                        <!--end col-->
                                        
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">Your Email  <span class="text-danger">*</span></label>
                                                <input name="email" id="email" type="email" class="form-control" placeholder="Your email :"  required="">
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Your Address <span class="text-danger">*</label>
                                            <input name="address" id="address1" type="text" class="form-control" placeholder="Your Address :" required=""/>
                                        </div>
                                        </div>
                                        
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">Your Phone <span class="text-danger">*</span></label>
                                                <input name="contactNumber" id="phone" {{#if error_contactNumber}} value="{{contactNumber}}" {{/if}}
                                                class="form-control" placeholder="Your Number"  required="">
                                                {{#if error_contactNumber}}
                                               <div class="has_error">{{error_contactNumber}}</div>
                                               {{/if}}
                                            </div>
                                        </div>
                                        <!--end col-->

                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">Age<span class="text-danger">*</span></label>
                                                <input name="age" id="email" type class="form-control" placeholder="Your Age :" required="">
                                            </div>
                                        </div>
                                        <!--end col-->

                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label"> Date <span class="text-danger">*</label>
                                                <input name="date" type="text" class="flatpickr flatpickr-input form-control" id="checkin-date" required="">
                                                </div>
                                        </div>
                                        
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">Gender <span class="text-danger">*</span></label>
                                                <select name="gender" class="form-control doctor-name select2input" required="">
                                                    <option value="">Select</option>
                                                    <option>Male</option>
                                                    <option>Female</option>
                                                    <option>Children</option>
                                                </select>
                                                </div>
                                        </div>
                                        <!--end col-->
                                        
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <label class="form-label">Comments <span class="text-danger">*</span></label>
                                                <textarea name="Comment" id="comments" rows="4" class="form-control" placeholder="Your Message :" required=""></textarea>
                                                </div>
                                        </div>
                                        <!--end col-->
                                        
                                        <div class="col-lg-12">
                                            <div class="d-grid">
                                                <button type="submit" class="btn btn-primary">Book An
                                                    Appointment</button>
                                                </div>
                                        </div>
                                        <!--end col-->
                                        </div>
                                        <!--end row-->
                                        </form>
                                        </div>
                                        
                                        <div class="tab-pane fade" id="pills-online" role="tabpanel" aria-labelledby="online-booking">
                                            <form action="/api/online-appointment" method="post" id="Online">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="mb-3">
                                                            <label class="form-label">Patient Name <span class="text-danger">*</span></label>
                                                            <input name="patientName" id="name2" type="text" {{#if error_firstName}} value="{{firstName}}" {{/if}}
                                                        class="form-control" placeholder="Patient Name"  required="">
                                                     {{#if error_firstName}}
                                                   <div class="has_error">{{error_firstName}}</div>
                                               {{/if}}
                                                </div>
                                        </div>
                                        <!--end col-->
                                        
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">Departments <span class="text-danger">*</label>
                                                <select name="departmentId" class="form-control doctor-name select2input" onchange="getDoctorData(this.value)" required="">
                                                    <option value="">Select</option>
                                                    {{#each departments }}
                                                    <option value="{{this._id}}#{{this.departmentName}}">
                                                        {{this.departmentName}}</option>
                                                    {{/each}}
                                                </select>
                                                </div>
                                        </div>
                                        <!--end col-->
                                        
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">Doctor <span class="text-danger">*</label>
                                                <select name="doctorId" class="form-control doctor-name select2input doctorId" required="">
                                                    <option value="">Select</option>
                                                </select>

                                            </div>
                                        </div>
                                        <!--end col-->
                                        
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">Your Email <span class="text-danger">*</span></label>
                                                <input name="email" id="email2" type="email" class="form-control" placeholder="Your email :" required="">
                                            </div>
                                        </div>
                                        <!--end col-->
                                        
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">Your Phone <span class="text-danger">*</span></label>
                                                <input name="contactNumber" id="phone2" {{#if error_contactNumber}} value="{{contactNumber}}" {{/if}}
                                                class="form-control" placeholder="Your Number"  required="">
                                                {{#if error_contactNumber}}
                                               <div class="has_error">{{error_contactNumber}}</div>
                                               {{/if}}
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Your Address <span class="text-danger">*</label>
                                            <input name="address" id="address" type="text" class="form-control" placeholder="Your Address :"  required=""/>
                                        </div>
                                        </div>
                                        
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">Age<span class="text-danger">*</span></label>
                                                <input name="age" id="email" type class="form-control" placeholder=" Your Age :" required="">
                                            </div>
                                        </div>
                                        <!--end col-->
                                        
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">Gender <span class="text-danger">*</span></label>
                                                 <select name="gender" class="form-control doctor-name select2input" required="">
                                                    <option value="">Select</option>
                                                    <option>Male</option>
                                                    <option>Female</option>
                                                    <option>Children</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--end col-->

                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label"> Date <span class="text-danger">*</label>
                                                <input name="date" type="text" class="flatpickr flatpickr-input form-control" id="checkin-dates" required="">
                                                </div>
                                        </div>
                                        <!--end col-->
                                        
                                         <div class="col-md-6" id="entry-template">
                                            <div class="mb-3">
                                               <label class="form-label"> Country <span class="text-danger">*</label><br>
                                                <select  name="country" class="form-control doctor-name select2input" required="">
                                                    <option value="">Select</option>
                                                    {{#each countryData}}
                                                    {{#each this.country}}
                                                    {{#each this.timezones}}
                                                    <option value="{{../this.name}}#{{this.zoneName}}#{{this.gmtOffsetName}}">{{../this.name}}</option>
                                                    {{/each}}
                                                    {{/each}}
                                                {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                         
                                        <!--end col-->

                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label" >Time<span class="text-danger">*</label>
                                                <input name="time" type="text" class="form-control timepicker" id="input-time" placeholder="03:30 PM" required="">
                                            </div>
                                        </div>
                                        <!--end col-->
                                        
                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                <label class="form-label">Comments <span class="text-danger">*</span></label>
                                                <textarea name="Comment" id="comments2" rows="4" class="form-control" placeholder="Your Message :"></textarea>
                                                </div>
                                        </div>
                                        <!--end col-->
                                        
                                        <div class="col-lg-12">
                                            <div class="d-grid">
                                                <button type="submit" class="btn btn-primary">Book An
                                                    Appointment</button>
                                                </div>
                                        </div>
                                        <!--end col-->
                                        </div>
                                        <!--end row-->
                                        </form>
                                        </div>
                                        </div>
                                     </div>
                                  </div>
                                    <!--end col-->
                                </div>
                                    <!--end row-->
                            </div>
                                    <!--end container-->
                      </section>
                              <!--end section-->
                     <!-- End -->

    <!-- Start -->
    <footer class="bg-footer">
        {{>footerIndex data = admin}}
    </footer>
    <!--end footer-->
    <!-- End -->

    <!-- Back to top -->
    <a href="#" onclick="topFunction()" id="back-to-top" class="btn btn-icon btn-pills btn-primary back-to-top"><i
            data-feather="arrow-up" class="icons"></i></a>
    <!-- Back to top -->

    <!-- Offcanvas Start -->
    <div class="offcanvas bg-white offcanvas-top" tabindex="-1" id="offcanvasTop">
        <div class="offcanvas-body d-flex align-items-center align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="text-center">
                            <h4>Search now.....</h4>
                            <div class="subcribe-form mt-4">
                                <form>
                                    <div class="mb-0">
                                        <input type="text" id="help" name="name" class="border bg-white rounded-pill" required="" placeholder="Search">
                                        <button type="submit" class="btn btn-pills btn-primary">Search</button>
                                        </div>
                                        </form>
                                        </div>
                                        </div>
                    </div>
                    <!--end col-->
                    </div>
                    <!--end row-->
                    </div>
                    <!--end container-->
                    </div>
                    </div>
                    <!-- Offcanvas End -->

    <!-- Offcanvas Start -->
    <div class="offcanvas offcanvas-end bg-white shadow" tabindex="-1" id="offcanvasRight"
        aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header p-4 border-bottom">
            <h5 id="offcanvasRightLabel" class="mb-0">
                <img src="../assets/images/logo-dark.png" height="24" class="light-version" alt="">
                <img src="../assets/images/logo-light.png" height="24" class="dark-version" alt="">
            </h5>
            <button type="button" class="btn-close d-flex align-items-center text-dark" data-bs-dismiss="offcanvas"
                aria-label="Close"><i class="uil uil-times fs-4"></i></button>
            </div>
            <div class="offcanvas-body p-4 px-md-5">
                <div class="row">
                    <div class="col-12">
                        <!-- Style switcher -->
                        <div id="style-switcher">
                            <div>
                                <ul class="text-center list-unstyled mb-0">
                                <li class="d-grid"><a href="javascript:void(0)" class="rtl-version t-rtl-light" onclick="setTheme('style-rtl')"><img
                                            src="../assets/images/layouts/landing-light-rtl.png" class="img-fluid rounded-md shadow-md d-block"
                                            alt=""><span class="text-muted mt-2 d-block">RTL Version</span></a></li>
                                <li class="d-grid"><a href="javascript:void(0)" class="ltr-version t-ltr-light" onclick="setTheme('style')"><img
                                            src="../assets/images/layouts/landing-light.png" class="img-fluid rounded-md shadow-md d-block" alt=""><span
                                            class="text-muted mt-2 d-block">LTR Version</span></a></li>
                                <li class="d-grid"><a href="javascript:void(0)" class="dark-rtl-version t-rtl-dark"
                                        onclick="setTheme('style-dark-rtl')"><img src="../assets/images/layouts/landing-dark-rtl.png"
                                            class="img-fluid rounded-md shadow-md d-block" alt=""><span class="text-muted mt-2 d-block">RTL
                                            Version</span></a></li>
                                <li class="d-grid"><a href="javascript:void(0)" class="dark-ltr-version t-ltr-dark"
                                        onclick="setTheme('style-dark')"><img src="../assets/images/layouts/landing-dark.png"
                                            class="img-fluid rounded-md shadow-md d-block" alt=""><span class="text-muted mt-2 d-block">LTR
                                            Version</span></a></li>
                                <li class="d-grid"><a href="javascript:void(0)" class="dark-version t-dark mt-4" onclick="setTheme('style-dark')"><img
                                            src="../assets/images/layouts/landing-dark.png" class="img-fluid rounded-md shadow-md d-block" alt=""><span
                                            class="text-muted mt-2 d-block">Dark Version</span></a></li>
                                <li class="d-grid"><a href="javascript:void(0)" class="light-version t-light mt-4" onclick="setTheme('style')"><img
                                            src="../assets/images/layouts/landing-light.png" class="img-fluid rounded-md shadow-md d-block" alt=""><span
                                            class="text-muted mt-2 d-block">Light Version</span></a></li>
                                <li class="d-grid"><a href="../admin/index.html" target="_blank" class="mt-4"><img
                                            src="../assets/images/layouts/light-dash.png" class="img-fluid rounded-md shadow-md d-block" alt=""><span
                                            class="text-muted mt-2 d-block">Admin Dashboard</span></a></li>
                                </ul>
                                </div>
                                </div>
                                <!-- end Style switcher -->
                </div>
                <!--end col-->
                </div>
                <!--end row-->
                </div>

        <div class="offcanvas-footer p-4 border-top text-center">
            <ul class="list-unstyled social-icon mb-0">
                <li class="list-inline-item mb-0"><a href="https://1.envato.market/doctris" target="_blank" class="rounded"><i
                            class="uil uil-shopping-cart align-middle" title="Buy Now"></i></a></li>
                <li class="list-inline-item mb-0"><a href="https://dribbble.com/shreethemes" target="_blank" class="rounded"><i
                            class="uil uil-dribbble align-middle" title="dribbble"></i></a></li>
                <li class="list-inline-item mb-0"><a href="https://www.facebook.com/shreethemes" target="_blank" class="rounded"><i
                            class="uil uil-facebook-f align-middle" title="facebook"></i></a></li>
                <li class="list-inline-item mb-0"><a href="https://www.instagram.com/shreethemes/" target="_blank" class="rounded"><i
                            class="uil uil-instagram align-middle" title="instagram"></i></a></li>
                <li class="list-inline-item mb-0"><a href="https://twitter.com/shreethemes" target="_blank" class="rounded"><i
                            class="uil uil-twitter align-middle" title="twitter"></i></a></li>
                <li class="list-inline-item mb-0"><a href="mailto:support@shreethemes.in" class="rounded"><i
                            class="uil uil-envelope align-middle" title="email"></i></a></li>
                <li class="list-inline-item mb-0"><a href="https://shreethemes.in" target="_blank" class="rounded"><i
                            class="uil uil-globe align-middle" title="website"></i></a></li>
                </ul>
                <!--end icon-->
                </div>
                </div>
                <!-- Offcanvas End -->
                
                <!-- javascript -->
                {{>javascript}}
 
    <script>
       $(document).ready(function () {
             //Common form request
        $("#appoimentData").submit(function (e) {
            
        e.preventDefault();
        var fromData = $(this).serialize();
        
         $.ajax({
            type: 'POST',
            url:$(this).attr('action'),
            data:fromData,
            success: function (response) {
             if(response.status ==200){   
             swal({
                title: "Success......✔️",
                text: response.message,
                icon: "success",
                button: "Ok..!",
                });
            }else{
            swal('Oops...',
                response.message,
                'error'
                );
            }
            }
         })
        })

          $("#Online").submit(function (e) {
            
        e.preventDefault();
        var fromData = $(this).serialize();
        
         $.ajax({
            type: 'POST',
            url:$(this).attr('action'),
            data:fromData,
            success: function (response) {
             if(response.status ==200){   
             swal({
                title: "Success......✔️",
                text: response.message,
                icon: "success",
                button: "Ok..!",
                });
            }else{
            swal('Oops...',
                response.message,
                'error'
                );
            }
            }
         })
        })
         })

        function getDoctorData(did) {
            $.ajax({
                type: "GET",
                url: '/api/doctorlist/' + did,
                success: function (response) {
                    var list = '';
                    if (response[0].length > 0) {
                        list += '<option value="">Select</option>';
                        $.each(response, function (index, value) {
                            console.log(JSON.stringify(value))
                            for (let j = 0; j < value.length; j++) {
                                console.log(value[j].firstName)
                                var doctor_id_name = value[j]._id + '#' + value[j].firstName + ' ' + value[j].lastName;
                                $(".doctorId").append(list += '<option  value="' + doctor_id_name + '">' + value[j].firstName + " " + value[j].lastName + '</option >');

                            }
                        });
                    } else {
                        list += '<option value="">No Doctor Found!</option>';
                    }
                    $(".doctorId").html(list);
                }
            });
            }

         var source = $("#entry-template").html();
var template = Handlebars.compile(source);
var output = template(country);
$("body").append(output);     


    </script>
    </body>

</html>
