


<!DOCTYPE html>
    <html lang="en">

    <head>
       {{>head}}

    </head>

    <body>
        <!-- Loader -->
        {{!-- <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div> --}}
        <!-- Loader -->
        
        <div class="back-to-home rounded d-none d-sm-block">
            <a href="/" class="btn btn-icon btn-primary"><i data-feather="home" class="icons"></i></a>
        </div>

        <!-- Hero Start -->
        <section class="bg-home d-flex bg-light align-items-center" style="background: url('../assets/images/bg/bg-lines-one.png') center;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-8">
                        <img src="../assets/images/logo-dark.png" height="24" class="mx-auto d-block" alt="">
                        <div class="card login-page bg-white shadow mt-4 rounded border-0">
                            <div class="card-body">
                                
                                <h4 class="text-center">Recover Account</h4>  
                                
                                <form action="/api/resetpassword" method="post" class="login-form mt-4">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p class="text-muted">Please enter your New Password and Confirm Password  .</p>
                                            <div class="mb-3">
                                                <label class="form-label"> New Password<span class="text-danger">*</span></label>
                                                <input type="password" name="password"  {{#if error_password}} value="{{new_password}}" {{/if}}
                                                class="form-control" placeholder="Your New Password"  required="">
                                                {{#if error_password}}
                                               <div class="has_error">{{error_password}}</div>
                                               {{/if}}
                                            </div>

                                           {{#if error_confirm}}
                                            <div class="has_error">{{error_confirm}}</div>
                                            {{/if}}
                                            
                                            <div class="mb-3">
                                                <label class="form-label"> New Password<span class="text-danger">*</span></label>
                                                <input type="password" name="confirm"  {{#if error_passwordData}} value="{{confirm_password}}" {{/if}}
                                                class="form-control" placeholder="Your New Password"  required="">
                                                {{#if error_passwordData}}
                                               <div class="has_error">{{error_passwordData}}</div>
                                               {{/if}}
                                            </div>
                                            
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="d-grid">
                                                <input type="hidden" type="text" name="_id" value="{{id}}">
                                                <button class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                        <div class="mx-auto">
                                            <p class="mb-0 mt-3"><small class="text-dark me-2">Remember your password ?</small> <a href="/SignIn" class="text-dark h6 mb-0">Sign in</a></p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div><!---->
                    </div> <!--end col-->
                </div><!--end row-->
            </div> <!--end container-->
        </section><!--end section-->
        <!-- Hero End -->
        
        <!-- javascript -->
       {{>javascript}}
        
    </body>

</html>